<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>items</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllBucketItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bucket</servlet-name>
        <url-pattern>/bucket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add2Bucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add2Bucket</servlet-name>
        <url-pattern>/add2bucket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delFromBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delFromBucket</servlet-name>
        <url-pattern>/delFromBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.CreateOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orders</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetUserOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/delOrder</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>mate.academy.internetshop.controller.InjectInitializer</listener-class>
    </listener>

</web-app>